* {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: arcade;
    src: url('../assets/fonts/ARCADECLASSIC.TTF');
}

#score {
    color:white;
    font-size: 1.5 rem;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    #container {
        max-width: 1200px;
        width: 1200px;
        height: 70vh;
        border-radius: 50px;
        background-color: rgba(0,0,0, .65);
        display: flex;
        justify-content: center;
        align-items: center;
        #homeScreen{
            font-family: arcade;
            color: white;
        }
    
    }
}
